<h1> <%= title %> </h1>

<%= form_for(genre) do |f| %>
  <% if genre.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(genre.errors.count, "error") %> No se pudo guardar el género:</h2>

      <ul>
        <% genre.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.label :name, "Nombre" %>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.submit "Guardar" %>
  </div>
<% end %>

<%= link_to 'Volver', back_path %>
