<h1> <%= title %> </h1>

<%= form_for(artist) do |f| %>

  <%= render '_errors/snippet', errors: artist.errors %>

  <div>
    <%= f.label :name, "Nombre" %>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :image, "Imagen del artista" %>
    <%= f.file_field :image %>
  </div>
  
  <div>
    <%= f.label :description, "Descripción" %>
    <%= f.text_field :description %>
  </div>

  <div>
    <%= f.label :country, "País" %>
    <%= f.text_field :country %>
  </div>

  <div>
    <%= f.label :members, "Integrantes" %>
    <%= f.text_field :members %>
  </div>

  <div>
    <%= f.label :active_since, "Activo desde" %>  <!-- TODO: mejor label -->
    <%= f.date_field :active_since %>
  </div>

  <div>
    <%= f.label :active_until, "Activo hasta" %>
    <%= f.date_field :active_until %>
  </div>

  <div>
    <% if @all_genres.length > 0 then %>
      <h3>Elegir género (s):</h3>
      <% @all_genres.each do |genre| %>
        <%= check_box_tag("all_genres[]", genre.id, is_in?(@artist_genres, genre) ) %>
        <%= label_tag(:all_genres, genre.name) %>
        <br> <!-- HACK: use CSS!!! -->
      <% end %>
    <% else %>
        <p>
          No existen géneros para elegir
        </p>
    <% end %>
  </div>

  <div>
    <%= f.submit "Guardar" %>
  </div>
<% end %>

<%= link_to 'Volver', back_path %>
