<h1> Index de artistas </h1>

<ul>
  <% if @artists.length > 0 then %>
    <% @artists.each do |artist| %>
    <li>
      <%= artist.name %>
      |
      <%= link_to 'Mostrar', artist %>
      |
      <%= link_to 'Editar', edit_artist_path(artist) %>
      |
      <%= link_to 'Eliminar', artist, method: :delete, data: { confirm: 'Está seguro?' } %>
    </li>
    <% end %>
  <% else %>
      <p>
        No hay artistas para mostrar
      </p>
  <% end %>
</ul>

<%= link_to 'Crear artista', new_artist_path %>
