<div class="row padding-first-element">
  <h1>Artistas disponibles</h1>
  <hr>
</div>

<div class="row padding-first-element">
  
  <% if has_create_permission %>
      <%= link_to 'Crear un nuevo artista', new_artist_path %>
  <% end%>

  <% if @artists.any? %>
    <table class="table table-striped table-hover ">
      <thead>
        <tr>
          <th class="col-xl-2 col-lg-2 col-md-3 col-sm-6"></th>
          <th></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @artists.each do |artist| %>
          <tr>
            <td class="col-xl-2 col-lg-2 col-md-3 col-sm-6">
              <img src="<%= (artist.image.blank? ? asset_path('artist-default.png') : artist.image) %>"
                   class="img-thumbnail rounded float-left custom-thumbnail" alt="artist thumbnail" />
            </td>
            <td><%= link_to (artist.name.capitalize), artist  %></td>
            <td>
              <%= can_add_favorite_artist(current_user, artist) ? link_to( 'Añadir a favoritos', add_favorite_artist_path(current_user, artist), method: :post) : ''%>
              <%= can_remove_favorite_artist(current_user, artist) ? link_to( 'Eliminar de mis favoritos', remove_favorite_artist_path(current_user, artist), method: :delete) : ''%>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    
  <% else %>
    <p>
      No hay artistas para mostrar
    </p>
  <% end %>
</div>