<h1>Artista</h1>

<p>
  <strong>Nombre:</strong>
  <%= @artist.name %>
</p>

<p>
  <strong>Descripción:</strong>
  <%= @artist.description %>
</p>

<p>
  <strong>País de origen:</strong>
  <%= @artist.country %>
</p>

<p>
  <strong>Integrantes:</strong>
  <%= @artist.members %>
</p>

<p>
  <strong>Actividad:</strong>
  <%= @artist.active_since %> hasta <%= @artist.active_until %>
</p>

<% if @has_modify_permission %>
  <%= link_to 'Editar', edit_artist_path(@artist) %>
  <%= link_to 'Eliminar', @artist, method: :delete, data: { confirm: 'Está seguro?' } %>
  <br> <!-- HACK: use CSS instead of this -->
<% end %>

<% if @artist_songs.length > 0 then %>
  <h3>Canciones del artista:</h3>
  <% @artist_songs.each do |song| %>
    <li>
      <%= song.name %>
      |
      <%= link_to 'Mostrar', song %>
    </li>
  <% end %>
<% else %>
    <p>
      Este artista no tiene canciones
    </p>
<% end %>


<%= link_to 'Volver', artists_path %>
