<div class="row padding-first-element">
  <img src="<%= (@artist.image.blank? ? asset_path('artist-default.png') : @artist.image) %>"
       class="img-thumbnail rounded float-left profile-image col-lg-3 col-md-3 col-sm-4" alt="user profile image" />

   <div class="col-lg-3 col-md-3 col-sm-4">
    <ul class="list-group">
      <% if @has_modify_permission %>
        <li class="list-group-item"><%= link_to 'Editar', edit_artist_path(@artist) %></li>
        <li class="list-group-item"><%= link_to 'Eliminar', @artist, method: :delete, data: { confirm: 'Está seguro?' } %></li>
      <% end %>
      <li class="list-group-item">
        <%= render 'favorites/update',
          item: @artist,
          can_add_favorite: Proc.new { |user, artist| can_add_favorite_artist(user, artist) },
          can_remove_favorite: Proc.new { |user, artist| can_remove_favorite_artist(user, artist) },
          add_favorite_item_path: Proc.new { |user, artist| add_favorite_artist_path(user, artist) },
          remove_favorite_item_path: Proc.new { |user, artist| remove_favorite_artist_path(user, artist) }
          %>
      </li>
    </ul>
  </div>
</div>

<div class="row">

  <h1><%= @artist.name %></h1>
  <p class="lead">
    <%= @artist.description.present? ? @artist.description : "Sin descripción." %>
  </p>
  <hr>
  <p>
    <strong>Rating:</strong>
    <%= @artist_rating %>
  </p>

  <p>
    <strong>País de origen:</strong>
    <%= @artist.country %>
    <%= @artist.country.present? ? @artist.country : "Desconocido" %>
  </p>

  <% if @artist.members.present? %>
    <h3>Integrantes: </h3>
    <%= @artist.members %>
  <% else %>
    <strong>Solista</strong>
  <% end %>

<p>
  <strong>Actividad:</strong>
  <%= @artist.active_since %> hasta <%= @artist.active_until.present? ? @artist.active_until : "presente" %>
</p>

<h3>Género (s):</h3>
<%= render 'genres/index-snippet', genres: @artist_genres %>

<h3>Álbum (s):</h3>
<%= render 'albums/index-snippet', albums: @artist_albums %>

<% if has_create_permission %>
  <%= link_to 'Crear album', new_album_path({ artist_id: @artist.id }) %>
<% end %>

<h3>Canciones:</h3>
<%= render 'songs/index-snippet', songs: @artist_songs %>

<%= render 'comments/index', item_id: @artist.id, comments: @artist_comments %>
<%= render 'comments/new', comment_create_path: comment_artist_path(@artist) %>
