<h1>Artista</h1>

<p>
  <strong>Nombre:</strong>
  <%= @artist.name %>
</p>

<img src="<%= @artist.image %>" alt="Imagen">

<p>
  <strong>Descripción:</strong>
  <%= @artist.description.present? ? @artist.description : "Sin descripción" %>
</p>

<p>
  <strong>País de origen:</strong>
  <%= @artist.country %>
  <%= @artist.country.present? ? @artist.country : "Desconocido" %>
</p>


<p>
  <% if @artist.members.present? %>
    <strong>Integrantes:</strong>
    <%= @artist.members %>
  <% else %>
    Solista
  <% end %>
</p>

<p>
  <strong>Actividad:</strong>
  <%= @artist.active_since %> hasta <%= @artist.active_until.present? ? @artist.active_until : "presente" %>
</p>

<% if @has_modify_permission %>
  <%= link_to 'Editar', edit_artist_path(@artist) %>
  <%= link_to 'Eliminar', @artist, method: :delete, data: { confirm: 'Está seguro?' } %>
  <br> <!-- HACK: use CSS instead of this -->
<% end %>

<%= render 'favorites/update',
  item: @artist,
  can_add_favorite: Proc.new { |user, artist| can_add_favorite_artist(user, artist) },
  can_remove_favorite: Proc.new { |user, artist| can_remove_favorite_artist(user, artist) },
  add_favorite_item_path: Proc.new { |user, artist| add_favorite_artist_path(user, artist) },
  remove_favorite_item_path: Proc.new { |user, artist| remove_favorite_artist_path(user, artist) }
  %>

<h3>Género (s):</h3>
<% if @artist_genres.length > 0 then %>
  <% @artist_genres.each do |genre| %>
    <li>
      <%= genre.name %>
      |
      <%= link_to 'Mostrar', genre %>
    </li>
  <% end %>
<% else %>
    <p>
      Sin géneros
    </p>
<% end %>

<h3>Álbum (s):</h3>
<% if @artist_albums.length > 0 then %>
  <% @artist_albums.each do |album| %>
    <li>
      <%= album.name %>
      |
      <%= link_to 'Mostrar', album %>
    </li>
  <% end %>
<% else %>
    <p>
      Sin álbumes
    </p>
<% end %>

<% if has_create_permission %>
  <%= link_to 'Crear album', new_album_path({ artist_id: @artist.id }) %>
<% end %>

<h3>Canciones:</h3>
<% if @artist_songs.length > 0 then %>
  <% @artist_songs.each do |song| %>
    <li>
      <%= song.name %>
      |
      <%= link_to 'Mostrar', song %>
    </li>
  <% end %>
<% else %>
    <p>
      Este artista no tiene canciones
    </p>
<% end %>

<%= render 'comments/index',
  item_id: @artist.id,
  comments: @artist_comments
  %>

<%= render 'comments/new', comment_create_path: comment_artist_path(@artist) %>


<%= link_to 'Volver', artists_path %>
