<!-- Display comments
  provide: 'comments', 'item_id' -->

<h3>Comentarios:</h3>
<% if comments.any? %>
  <% comments.each do |comment| %>
    <li>
      <img src="<%= comment.user.photo %>" alt="photo">
      <%= link_to comment.user.first_name, user_path(comment.user) %>
      -
      <%= comment.created_at.strftime("%Y-%b-%d %H:%M") %>
      :
      <br>
      <%= comment.content %>
      <br>
      <% if can_remove_comment(comment) %>
        <%= link_to 'Borrar comentario', remove_comment_song_path(item_id, comment.id), method: :delete %>
      <% end %>
    </li>
    <br>
  <% end %>
<% else %>
    <p>
      No hay comentarios
    </p>
<% end %>
