<h1>Usuario</h1>

<p>
  <strong>Nombre:</strong>
  <%= @user.first_name %>
  <%= @user.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<% if @has_permission %>
  <%= link_to 'Editar', edit_user_path(@user) %>
  <%= link_to 'Eliminar', @user, method: :delete, data: { confirm: 'Está seguro?' } %>
<% end %>


<% if @artists.length > 0 then %>
  <h3>Artistas que ha creado el usuario:</h3>
  <% @artists.each do |artist| %>
    <li>
      <%= artist.name %>
      |
      <%= link_to 'Mostrar', artist %>
    </li>
  <% end %>
<% else %>
    <p>
      Este usuario no ha creado artistas
    </p>
<% end %>

<% if @songs.length > 0 then %>
  <h3>Canciones que ha creado el usuario:</h3>
  <% @songs.each do |song| %>
    <li>
      <%= song.name %>
      |
      <%= link_to 'Mostrar', song %>
    </li>
  <% end %>
<% else %>
    <p>
      Este usuario no ha creado canciones
    </p>
<% end %>


<%= link_to 'Volver', users_path %>
