<h1>Usuario</h1>

<p>
  <strong>Nombre:</strong>
  <%= @user.first_name %>
  <%= @user.last_name %>
  <% if @show_is_admin %>
    <strong>Este usuario tiene permisos de administrador</strong>
  <% end %>
</p>

<img src="<%= @user.photo %>" alt="Foto">

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<% if @has_permission %>
  <%= link_to 'Editar', edit_user_path(@user) %>
  <%= link_to 'Editar Contrase침a', edit_user_password_path(@user) %>
  <%= link_to 'Eliminar Usuario', @user, method: :delete, data: { confirm: 'Est치 seguro?' } %>
<% end %>

<% if @can_grant_admin %>
  <%= link_to 'Dar permisos de administrador', grant_admin_path(@user), method: :patch, data: { confirm: 'Est치 seguro? Esto no se puede deshacer' } %>
<% elsif @can_revoke_admin %>
  <%= link_to 'Quitar permisos de administrador', revoke_admin_path(@user), method: :delete, data: { confirm: 'Est치 seguro? Esto no se puede deshacer' } %>
<% end %>

<%= render 'follows/update', user: @user %>

<h3> Siguiendo </h3>
<% if @user_following.any? then %>
  <% @user_following.each do |user_follows| %>
    <li>
      <%= link_to user_follows.followed.full_name, user_path(user_follows.followed) %>

      <% if @has_permission %>
        |
        <%= link_to 'Dejar de seguir', unfollow_path(current_user, user_follows.followed), method: :delete %>
      <% end %>
    </li>
  <% end %>
<% else %>
    <p>
      No sigue a nadie.
    </p>
<% end %>

<h3> Seguidores </h3>
<% if @user_followers.any? then %>
  <% @user_followers.each do |user_follower| %>
    <li>
      <%= link_to user_follower.follower.full_name, user_path(user_follower.follower) %>
    </li>
  <% end %>
<% else %>
    <p>
      No tiene.
    </p>
<% end %>


<%= render 'favorites/index',
  resource_name: 'canciones',
  favorite_items: @favorite_songs,
  item_path: Proc.new { |song| song_path(song) },
  remove_favorite_item_path: Proc.new { |user, song| remove_favorite_song_path(user, song) },
  is_female: true
  %>

<%= render 'favorites/index',
  resource_name: 'artistas',
  favorite_items: @favorite_artists,
  item_path: Proc.new { |artist| artist_path(artist) },
  remove_favorite_item_path: Proc.new { |user, artist| remove_favorite_artist_path(user, artist) }
  %>

<%= render 'favorites/index',
  resource_name: 'albums',
  favorite_items: @favorite_albums,
  item_path: Proc.new { |album| album_path(album) },
  remove_favorite_item_path: Proc.new { |user, album| remove_favorite_album_path(user, album) }
  %>

<h3>Artistas que ha creado el usuario:</h3>
<% if @artists.any? %>
  <% @artists.each do |artist| %>
    <li>
      <%= artist.name %>
      |
      <%= link_to 'Mostrar', artist %>
    </li>
  <% end %>
<% else %>
    <p>
      Este usuario no ha creado artistas
    </p>
<% end %>

<h3>Canciones que ha creado el usuario:</h3>
<% if @songs.any? %>
  <% @songs.each do |song| %>
    <li>
      <%= song.name %>
      |
      <%= link_to 'Mostrar', song %>
    </li>
  <% end %>
<% else %>
    <p>
      Este usuario no ha creado canciones
    </p>
<% end %>

<%= render 'wall_messages/index' %>

<%= render 'wall_messages/new' %>

<%= link_to 'Volver', users_path %>
