<h1>Usuario</h1>

<p>
  <strong>Nombre:</strong>
  <%= @user.first_name %>
  <%= @user.last_name %>
  <% if @show_is_admin %>
    <strong>Este usuario tiene permisos de administrador</strong>
  <% end %>
</p>

<img src="<%= @user.photo %>" alt="Foto">

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<% if @has_permission %>
  <%= link_to 'Editar', edit_user_path(@user) %>
  <%= link_to 'Editar Contraseña', edit_user_password_path(@user) %>
  <%= link_to 'Eliminar Usuario', @user, method: :delete, data: { confirm: 'Está seguro?' } %>
<% end %>

<% if @can_grant_admin %>
  <%= link_to 'Dar permisos de administrador', grant_admin_path(@user), method: :patch, data: { confirm: 'Está seguro? Esto no se puede deshacer' } %>
<% end %>

<%= render 'favorite-snippet',
  resource_name: 'canciones',
  favorite_items: @favorite_songs,
  item_path: Proc.new { |song| song_path(song) },
  remove_favorite_item_path: Proc.new { |user, song| remove_favorite_song_path(user, song) },
  is_female: true
  %>

<%= render 'favorite-snippet',
  resource_name: 'artistas',
  favorite_items: @favorite_artists,
  item_path: Proc.new { |artist| artist_path(artist) },
  remove_favorite_item_path: Proc.new { |user, artist| remove_favorite_artist_path(user, artist) }
  %>

<%= render 'favorite-snippet',
  resource_name: 'albums',
  favorite_items: @favorite_albums,
  item_path: Proc.new { |album| album_path(album) },
  remove_favorite_item_path: Proc.new { |user, album| remove_favorite_album_path(user, album) }
  %>

<h3>Artistas que ha creado el usuario:</h3>
<% if @artists.any? %>
  <% @artists.each do |artist| %>
    <li>
      <%= artist.name %>
      |
      <%= link_to 'Mostrar', artist %>
    </li>
  <% end %>
<% else %>
    <p>
      Este usuario no ha creado artistas
    </p>
<% end %>

<h3>Canciones que ha creado el usuario:</h3>
<% if @songs.any? %>
  <% @songs.each do |song| %>
    <li>
      <%= song.name %>
      |
      <%= link_to 'Mostrar', song %>
    </li>
  <% end %>
<% else %>
    <p>
      Este usuario no ha creado canciones
    </p>
<% end %>


<h3>Muro</h3>
<% if @user_wall.any? %>
  <% @user_wall.each do |wall_message| %>
    <li>
      <%= wall_message.writer.first_name %>
      -
      <%= wall_message.created_at.strftime("%Y-%b-%d %H:%M") %>
      :
      <br>
      <%= wall_message.message %>
      <br>
    </li>
    <% if can_remove_wall_message(wall_message) %>
      <%= link_to 'Borrar mensaje', remove_wall_message_path({ receiver_id: @user.id, message_id: wall_message.id }), method: :delete %>
    <% end %>
    <br>
  <% end %>
<% else %>
    <p>
      No hay publicaciones
    </p>
<% end %>

<% if has_create_permission %>
  <%= form_for(:wall_message, method: :post, url: new_wall_message_path(@user)) do |f| %>
    <div>
      <%= f.label :message, "Mensaje" %>
      <%= f.text_area :message %>
    </div>
    <div>
      <%= f.submit "Publicar" %>
    </div>
  <% end %>
<% end %>


<%= link_to 'Volver', users_path %>
