<div class="col-lg-5">
  <%= form_for :news, :html => { :class => 'form-horizontal' } do |f| %>

      <fieldset>
        <legend><%=title%></legend>

        <div class="form-group">
          <label for="title" class="col-lg-2 control-label">Título</label>
          <div class="col-lg-10">
            <%= f.text_field :title, :class => 'form-control', :placeholder => "Título de la noticia" %>
          </div>
        </div>

        <div class="form-group">
          <label for="content" class="col-lg-2 control-label">Contenido de la noticia</label>
          <div class="col-lg-10">
            <%= f.text_field :content, :class => 'form-control', :placeholder => "Contenido de la noticia" %>
          </div>
        </div>

        <div class="form-group">
          <label for="image" class="col-lg-2 control-label">Imagen relacionada</label>
          <div class="col-lg-10">
            <%= f.file_field :image, :class => 'form-control', :placeholder => "Apellido" %>
          </div>
        </div>

        <%= render 'artists/choose', existing_artists: @news_artists %>

        <%= render 'albums/choose', existing_albums: @news_albums %>

        <%= render 'songs/choose', existing_songs: @news_songs %>


        <div class="form-group">
          <div class="col-lg-10 col-lg-offset-2">
            <%= f.submit "Guardar", :class => "btn btn-primary" %>
            <a href="<%=news_index_path%>">
              <div class="btn btn-primary">Volver (sin guardar)</div>
            </a>
          </div>
        </div>

      </fieldset>
  <% end %>
</div>