<h1> <%= title %> </h1>

<%= form_for(song) do |f| %>

  <%= render '_errors/snippet', errors: song.errors %>

  <div>
    <%= f.label :name, "Nombre" %>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :duration, "Duración" %>
    <%= f.text_field :duration %>
  </div>

  <%= render 'artists/choose', existing_artists: @song_artists %>
  <%= render 'albums/choose', existing_albums: @song_albums %>
  <%= render 'genres/choose', existing_genres: @song_genres %>

  <div>
    <%= f.submit "Guardar" %>
  </div>
<% end %>

<%= link_to 'Volver', back_path %>
