<h1> <%= title %> </h1>

<%= form_for(song) do |f| %>
  <% if song.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(song.errors.count, "error") %> No se pudo guardar esta canción:</h2>

      <ul>
        <% song.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.label :name, "Nombre" %>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :duration, "Duración" %>
    <%= f.time_field :duration %>
  </div>

  <div>
    <% if @all_artists.length > 0 then %>
      <h3>Elegir artista (s):</h3>
      <% @all_artists.each do |artist| %>
        <%= check_box_tag("all_artists[]", artist.id,
          @song_artists.index { |song_artist| song_artist.id == artist.id }
          ) %>
          <!-- OPTIMIZE index function ???  -->
        <%= label_tag(:all_artists, artist.name) %>
        <br> <!-- HACK: use CSS!!! -->
      <% end %>
    <% else %>
        <p>
          No existen artistas para elegir
        </p>
    <% end %>

  </div>


  <div>
    <%= f.submit "Guardar" %>
  </div>
<% end %>

<%= link_to 'Volver', back_path %>
