<div class="row padding-first-element">
  <h1>Canciones</h1>
  <hr>
</div>

<div class="search-bar">
  <form action="<%= songs_path %>" method="get">
    <input type="text" name="text" value="">
    <input type="submit" value="Buscar">
  </form>
</div>

<div class="row padding-first-element">

    <% if @songs.length > 0 then %>
      <table class="table table-striped table-hover ">
        <thead>
          <tr>
            <th>Nombre</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @songs.each do |song| %>
            <tr>
              <td><%= link_to song.name, song %></td>
              <td>
                <%= can_add_favorite_song(current_user, song) ? link_to( 'Añadir a favoritas', add_favorite_song_path(current_user, song), method: :post) : '' %>
                <%=can_remove_favorite_song(current_user, song) ? link_to( 'Eliminar de mis favoritas', remove_favorite_song_path(current_user, song), method: :delete) : '' %>
              </td>
            </tr>
          <% end %>
        </tbody>
    <% else %>
        <p>
          <%= (@searched) ? "No hay canciones para mostrar" : "Busca canciones!" %>
        </p>
    <% end %>

  <% if has_create_permission %>
    <%= link_to 'Crear canción', new_song_path %>
  <% end%>
</div>
