<h1>Canción</h1>

<p>
  <strong>Nombre:</strong>
  <%= @song.name %>
</p>

<p>
  <strong>Duración:</strong>
  <%= @song.duration %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @song_rating %>
</p>

<% if @has_modify_permission %>
  <%= link_to 'Editar', edit_song_path(@song) %>
  <%= link_to 'Eliminar', @song, method: :delete, data: { confirm: 'Está seguro?' } %>
  <br> <!-- HACK: use CSS instead of this -->
<% end %>

<%= render 'favorites/update',
  item: @song,
  can_add_favorite: Proc.new { |user, song| can_add_favorite_song(user, song) },
  can_remove_favorite: Proc.new { |user, song| can_remove_favorite_song(user, song) },
  add_favorite_item_path: Proc.new { |user, song| add_favorite_song_path(user, song) },
  remove_favorite_item_path: Proc.new { |user, song| remove_favorite_song_path(user, song) }
  %>

<h3>Artista (s):</h3>
<%= render 'artists/index-snippet', artists: @song_artists %>

<h3>Álbum (s):</h3>
<%= render 'albums/index-snippet', albums: @song_albums %>

<h3>Géneros (s):</h3>
<%= render 'genres/index-snippet', genres: @song_genres %>

<%= render 'comments/index', item_id: @song.id, comments: @song_comments %>
<%= render 'comments/new', comment_create_path: comment_song_path(@song) %>

<%= render 'ratings/index', ratings: @song_ratings %>
<%= render 'ratings/new', rating_create_path: rate_song_path(@song) %>

<%= link_to 'Volver', songs_path %>
