<h1>Canción</h1>

<p>
  <strong>Nombre:</strong>
  <%= @song.name %>
</p>

<p>
  <strong>Duración:</strong>
  <%= @song.duration %>
</p>

<% if @has_modify_permission %>
  <%= link_to 'Editar', edit_song_path(@song) %>
  <%= link_to 'Eliminar', @song, method: :delete, data: { confirm: 'Está seguro?' } %>
  <br> <!-- HACK: use CSS instead of this -->
<% end %>

<h3>Artista (s):</h3>
<% if @song_artists.length > 0 then %>
  <% @song_artists.each do |artist| %>
    <li>
      <%= artist.name %>
      |
      <%= link_to 'Mostrar', artist %>
    </li>
  <% end %>
<% else %>
    <p>
      Sin artista
    </p>
<% end %>



<%= link_to 'Volver', songs_path %>
