<h1> <%= title %> </h1>

<%= form_for(album) do |f| %>

  <%= render '_errors/snippet', errors: album.errors %>

  <div>
    <%= f.label :name, "Nombre" %>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :description, "Descripción" %>
    <%= f.text_field :description %>
  </div>

  <div>
    <%= f.label :release_date, "Fecha de lanzamiento" %>
    <%= f.date_field :release_date %>
  </div>

  <div>
    <%= f.label :image, "Imagen del albúm" %>
    <%= f.file_field :image %>
  </div>

  <%= fields_for :album do |is_single_field| %>
    <%= is_single_field.check_box :is_single %> Single
  <% end %>

  <div>
    <% if @all_artists.length > 0 then %>
      <h3>Elegir artista (s):</h3>
      <% @all_artists.each do |artist| %>
        <%= check_box_tag("all_artists[]", artist.id, is_in?(@album_artists, artist) ) %>
        <%= label_tag(:all_artists, artist.name) %>
        <br> <!-- HACK: use CSS!!! -->
      <% end %>
    <% else %>
        <p>
          No existen artistas para elegir
        </p>
    <% end %>
  </div>

  <div>
    <%= f.submit "Guardar" %>
  </div>
<% end %>

<%= link_to 'Volver', back_path %>
