<div class="row padding-first-element">
  <h1>Álbumes disponibles</h1>
  <hr>
  <% if has_create_permission %>
    <%= link_to 'Crear álbum', new_album_path, :class => 'btn btn-primary btn-title' %>
  <% end%>
</div>

<%= render '_search/bar', search_path: albums_path %>

<div class="row padding-first-element">


  <% if @albums.length > 0 then %>
    <table class="table table-striped table-hover ">
      <thead>
        <tr>
          <th class="col-xl-2 col-lg-2 col-md-3 col-sm-6"></th>
          <th>Nombre</th>
          <th>Artista</th>
          <th></th>
        </tr>
      </thead>

      <tbody>

        <% @albums.each do |album| %>
          <tr>
            <td class="col-xl-2 col-lg-2 col-md-3 col-sm-6">
              <img src="<%= (album.image.blank? ? asset_path('album-default.jpeg') : album.image) %>"
                   class="img-thumbnail rounded float-left custom-thumbnail" alt="album thumbnail" />
            </td>

            <td>
              <%= link_to album.name, album %>
            </td>
            
            <td>
              <% album.artists.each_with_index do |artist, index| %>
                <%= link_to artist.name, artist %>
                <% if index < album.artists.length - 1 %>
                  ,
                <% end %>
              <% end %>
            </td>

            <td>

            <td>
              <%= can_add_favorite_album(current_user, album) ? link_to( 'Añadir a favoritos',
                   add_favorite_album_path(current_user, album), method: :post,
                   :class => "btn btn-primary btn-xs") : ''%>
              <%= can_remove_favorite_album(current_user, album) ? link_to( 'Eliminar de mis favoritos',
                    remove_favorite_album_path(current_user, album), method: :delete,
                    :class => "btn btn-primary btn-xs btn-warning") : ''%>
            </td>

          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
      <p>
        <%= (@searched) ? "No hay álbumes para mostrar" : "Busca álbumes!" %>
      </p>
  <% end %>

</div>