<h1>Álbum</h1>

<p>
  <strong>Nombre:</strong>
  <%= @album.name %>
</p>

<p>
  <strong>Descripción:</strong>
  <%= @album.description %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @album_rating %>
</p>

<p>
  <strong>Fecha de lanzamiento:</strong>
  <%= @album.release_date %>
</p>

<img src="<%= @album.image %>" alt="Imagen">

<p>
  <%= @album.is_single ? "Es un single" : "No es un single" %>
  <!-- CHGME: really creative... -->
</p>

<% if @has_modify_permission %>
  <%= link_to 'Editar', edit_album_path(@album) %>
  <%= link_to 'Eliminar', @album, method: :delete, data: { confirm: 'Está seguro?' } %>
  <br> <!-- HACK: use CSS instead of this -->
<% end %>

<%= render 'favorites/update',
  item: @album,
  can_add_favorite: Proc.new { |user, album| can_add_favorite_album(user, album) },
  can_remove_favorite: Proc.new { |user, album| can_remove_favorite_album(user, album) },
  add_favorite_item_path: Proc.new { |user, album| add_favorite_album_path(user, album) },
  remove_favorite_item_path: Proc.new { |user, album| remove_favorite_album_path(user, album) }
  %>

<h3>Artista (s):</h3>
<% if @album_artists.any? %>
  <% @album_artists.each do |artist| %>
    <li>
      <%= artist.name %>
      |
      <%= link_to 'Mostrar', artist %>
    </li>
  <% end %>
<% else %>
    <p>
      Sin artistas
    </p>
<% end %>

<h3>Canciones (s):</h3>
<% if @album_songs.any? %>
  <% @album_songs.each do |song| %>
    <li>
      <%= song.name %>
      |
      <%= link_to 'Mostrar', song %>
    </li>
  <% end %>
<% else %>
    <p>
      Sin canciones
    </p>
<% end %>

<% if has_create_permission %>
  <%= link_to 'Crear canción', new_song_path({ album_id: @album.id }) %>
<% end %>

<br> <!-- HACK: use CSS -->

<%= render 'comments/index', item_id: @album.id, comments: @album_comments %>
<%= render 'comments/new', comment_create_path: comment_album_path(@album) %>

<%= link_to 'Volver', albums_path %>
