<h3>Muro</h3>
<% if @user_wall.any? %>
  <% @user_wall.each do |wall_message| %>
    <li>
      <img src="<%= wall_message.writer.photo %>" alt="photo">
      <%= link_to wall_message.writer.first_name, user_path(wall_message.writer) %>
      -
      <%= wall_message.created_at.strftime("%Y-%b-%d %H:%M") %>
      :
      <br>
      <%= wall_message.message %>
      <br>
    </li>
    <% if can_remove_wall_message(wall_message) %>
      <%= link_to 'Borrar mensaje', remove_wall_message_path({
          receiver_id: @user.id,
          message_id: wall_message.id
        }),
        method: :delete
      %>
    <% end %>
    <br>
  <% end %>
<% else %>
    <p>
      No hay publicaciones
    </p>
<% end %>
