<!DOCTYPE html>
<html>
  <head>
    <title>MusicApp29</title>
    <link rel="icon" href="<%= asset_path('favicon.png') %>">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <!-- BARRA DE NAVEGACIÓN -->
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href=<%= root_path %> >MusicApp29</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

          <ul class="nav navbar-nav">

            <li><%= link_to "Usuarios", users_path %></li>
            <li><%= link_to "Artistas", artists_path %></li>
            <li><%= link_to "Canciones", songs_path %></li>
            <li><%= link_to "Géneros", genres_path %></li>
            <li><%= link_to "Álbumes", albums_path %></li>
            <li><%= link_to "Playlists", playlists_path %></li>
          </ul>


          <ul class="nav navbar-nav navbar-right">
            <% if current_user %>
                <li class="font-bold"><%= link_to current_user.first_name.capitalize, user_path(current_user) %></li>
                <li><%= link_to "Salir", logout_path, method: "delete" %></li>
            <% else %>
                <li><%= link_to "Login", login_path %></li>
                <li><%= link_to "Registrarse", signup_path %></li>
            <% end %>
          </ul>

        </div>
      </div>
    </div>
    <!-- END BARRA DE NAVEGACIÓN -->




    <!-- CONTAINER Y aplicación específica-->
    <div id="main-page-container" class="container">
      <%= yield %>
    </div>

    <!-- pie de página -->
    <div class="container" >
      <hr>
      <div class="custom-footer">

        <div class="row">
          <em>
            <h4>IIC2143 - Ingeniería de Software</h4>
            <h5>Segundo Semestre, 2017</h5>
            <h5>Grupo 29</h5>
            <ul class="ul-no-bullet">
              <li>Pablo Pino</li>
              <li>David Fuller</li>
              <li>Luciano Chiang</li>
            </ul>
          </em>

        <div class="row" id="footer-logo-row">
          <a class="col-xl-1 col-l-2 col-med-3 col-sm-3" href="http://www.uc.cl">
            <img class="logo" src="<%= asset_path('logo-puc.png') %>" />
          </a>
          <a class="col-xl-1 col-l-2 col-med-3 col-sm-3" href="http://www.ing.puc.cl">
            <img class="logo" src="<%= asset_path('logo-ing.png') %>" />
          </a>
        </div>

        </div>

        <div class="row">

        </div>

      </div>
    </div>

  </body>

</html>
